<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <link rel="stylesheet" type="text/css" href="/BioTrio.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="/mymovie">Movies </a></li>
    <li><a href="/customers-info">Customers</a></li>
    <li><a href="/theater-info">Theaters</a></li>
</ul>
<div class="container">
    <h1> Add New Movie</h1>
    <p class="lead">
    <form action="/savemovie" method="post" th:object="${movieform}">
        <div class="form-group">
            <label for="movieTitle"><b>Title</b></label>
            <input type="text" class="form-control" th:field="${movieform.movieTitle}" id="movieTitle"
                   placeholder="title"
                   maxlength="20">
            <label for="movieGenre"><b>Genre</b></label>
            <input type="text" class="form-control" th:field="${movieform.movieGenre}" id="movieGenre"
                   placeholder="genre">
            <label for="movieYear"><b>Year</b></label>
            <input type="text" class="form-control" th:field="${movieform.movieYear}" id="movieYear"
                   placeholder="year">
            <label for="movieOrigin"><b>Origin</b></label>
            <input type="text" class="form-control" th:field="${movieform.movieOrigin}" id="movieOrigin"
                   placeholder="origin" min="0">
            <label for="movieDuration"><b>Duration</b></label>
            <input type="text" class="form-control" th:field="${movieform.movieDuration}" id="movieDuration"
                   placeholder="duration" min="0">
            <label for="movieDirector"><b>Director</b></label>
            <input type="text" class="form-control" th:field="${movieform.movieDirector}" id="movieDirector"
                   placeholder="director" min="0">
            <label for="movieActors"><b>Actors</b></label>
            <input type="text" class="form-control" th:field="${movieform.movieActor}" id="movieActors"
                   placeholder="actors" min="0"><label for="imdbCode"><b>Rating</b></label>
            <input type="text" class="form-control" th:field="${movieform.imdbCode}" id="imdbCode"
                   placeholder="imdbCode" min="0">
        </div>
    <button class="submit">Add Movie</button>
    <button type="reset" class="btn btn-primary">Cancel</button>
</form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>