<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Cinema hall like Rambler kassa</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'>

    <link rel="stylesheet" href="/css/style.css">


</head>

<body>


<script>alert( 'Hello, world!' );</script>
<div class="hall" id="hall">
    <span id="booking-info" th:attr="customer_id = ${customer.id}, screening_id=${screening.id}"> </span>

    <h1  th:text=${customer.name}></h1>
    <!-- Высота wrapper это высота зала плюс, его pagging x*20+20 50px сверху 10px снизу   -->
    <div class="hall__wrapper"  th:attr="style=${'height: '+(theater.getHeight()*20+20)+'px; '}">
        <div class="hall__box" th:attr="style=${'width: '+(theater.getWidth()*20+20)+'px; '}">
            <div class="hall__screen">
                <span class="hall__screen-tip _left">Screen</span>
                <div class="hall__screen-cloth"></div>
                <span class="hall__screen-tip _right">Screen</span>
            </div>
            <div class="hall_places">
                <!-- Левая метка метка -->
                <!-- Дублирует data-row data-trubune и top в стилях -->
                <!-- Атрибут data-row выводится контекстом, data-trubune не используется, но мб понадобится для чего то-->


                <div class="hall__row is-dark" th:each="row, row_iterator: ${theater.getRows()}">
                    <div class="hall__places-row _left" th:attr="data-row=${row.getId()}" th:attrappend="style=${'top: '+(row_iterator.index*20)+'px'}"> </div>
                    <div th:each="seat, seat_iterator : ${row.getSeats()}">
                        <div class="hall__places-item " th:classappend= "${seat.status}? 'is-busy' : 'is-free'"  data-place-size="50"  th:attr="data-row=${row.getId()}, data-pos-x=${seat.getId()}, data-pos-y=${row.getId()}, data-state=${seat.status}? 'busy' : 'is-free', data-price=${screening.price}, style=${'left: '+((seat_iterator.index+1)*20)+'px;'+'top: '+(row_iterator.index*20)+'px'}">
                            <div class="hall__places-chair" th:attr="data-title=${screening.price}" data-toggle="tooltip" data-placement="top">[(${seat.getId()})]</div>
                        </div>
                    </div>
                    <div class="hall__places-row _right" th:attr="data-row=${row.getId()}" th:attrappend="style=${'top: '+(row_iterator.index*20)+'px'}"> </div>
                </div>

            </div>
        </div>
        <div class="hall__box _lines" th:each="row, row_iterator : ${theater.getRows()}">
            <div class="hall__line" th:attr="id=${'hallLine_'+row.getId()}" th:attrappend="style=${'top: '+(row_iterator.index*20)+'px'}"></div>
        </div>
    </div>
    <div class="hall-info">
        <div class="hall-info__title">
            [(${theater.getName()})]
        </div>
        <div class="hall-info__legend is-dark">
            <div class="hall-info__story is-free">
                <div class="hall-info__story-pointer"></div>
                <div class="hall-info__story-descr">Seats ([(${screening.getPrice()})])</div>
            </div>
            <div class="hall-info__story is-busy">
                <div class="hall-info__story-pointer"></div>
                <div class="hall-info__story-descr">Seat busy</div>
            </div>
            <div class="hall-info__story is-checked">
                <div class="hall-info__story-pointer"></div>
                <div class="hall-info__story-descr">Seat selected</div>
            </div>
        </div>
    </div>
</div>
<div class="hall-buy">
    <div class="hall-buy__no-data col-xs-12 col-md-8" id='hallNoData'>
        Select seats
    </div>
    <div class="hall-buy__data hidden col-xs-12 col-md-8" id='hallData'>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 hall-buy__overall">
                Total:
                <br>
                <span class="hall-buy__overall-count" id='hallCountTickets'>0 tickets</span>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 hall-buy__places" id='hallPlaces'>
            </div>
        </div>
    </div>
    <div class="hall-buy__btns col-xs-12 col-md-4">
        <div class="hall-buy__cost">
            <div class="hall-buy__cost-value">
                Total <span class="hall-buy__cost-total" id='hallTotalSum'>0 DKK</span>
            </div>
            <div class="hall-buy__cost-tax">
                VAT <span class="hall-buy__cost-tax-total" id='hallTotalTax'>0 DKK</span>
            </div>
        </div>
        <button class="hall-buy__btn-buy " onclick="submitTickets()" action="/pay" >
            Buy tickets
        </button>
    </div>
</div>
</div>

<button class="hall-buy__btn-buy " onclick="checkSelectedSeats()"  >
    Buy tickets
</button>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="https://unpkg.com/notie"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'></script>



    <script  src="/css/js/index.js"></script>




</body>

</html>
