<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
    <link rel="stylesheet" type="text/css" href="/BioTrio.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- navbar -->
</head>
<body>
<header>
    <nav>


        <ul>
            <li><a class="active" href="/frontpage">Home</a></li>
            <li><a href="/about">About </a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/new-user">Sign Up</a></li>
        </ul>
    </nav>
</header>
<!-- The Movies Section -->
<section id="fp-background">
    <br>
    <br>
    <br>
    <br>
    <h1 class="front-page">TICKETS FOR CURRENT MOVIES</h1>
    <br>
    <div class="fp-container">
        <th:block th:each="movie:${movies}">
            <div class="fp-img"><img th:src="${movie.imagePathName}" alt="img">
                <div class="fp-movie-title" th:text="${movie.movieTitle}"></div>
                <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        </th:block>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</section>

</body>
</html>








