<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
    <link rel="stylesheet" type="text/css" href="/BioTrio.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- navbar -->
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a class="active" href="/frontpage">Home</a></li>
            <li><a href="/about">About </a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/new-user">Sign Up</a></li>
        </ul>
    </nav>
</header>
<!-- The Movies Section -->
<section id="fp-background">
    <br>
    <br>
    <br>
    <br>
    <h1 class="front-page">TICKETS FOR CURRENT MOVIES</h1>
    <br>
    <div class="fp-container">
        <div classs="fp-img"><img src="/arrival.jpg" alt="arrival">
            <div class="fp-movie-title"><b><p>Arrival</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        <div class="fp-img"><img src="/blade_runner.jpg" alt="blade_runner">
            <div class="fp-movie-title"><b><p>Blade Runner</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        <div class="fp-img"><img src="/ex_machina.jpg" alt="ex">
            <div class="fp-movie-title"><b><p>Ex-Machina</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        <div class="fp-img"><img src="/fight_club.jpg" alt="fight">
            <div class="fp-movie-title"><b><p>Fight Club</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        <div class="fp-img"><img src="/dunkirk.jpg" alt="dunkirk">
            <div class="fp-movie-title"><b><p>Dunkirk</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        <div class="fp-img"><img src="/revenant.jpg" alt="revenant">
            <div class="fp-movie-title"><b><p>The Revenant</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        <div class="fp-img"><img src="/seven.jpg" alt="seven">
            <div class="fp-movie-title"><b><p>Seven</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        <div class="fp-img"><img src="/godfatherII.jpg" alt="godfather">
            <div class="fp-movie-title"><b><p>The Godfather II</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
        <div class="fp-img"><img src="/pulp_fiction.jpg" alt="pulp">
            <div class="fp-movie-title"><b><p>Pulp Fiction</p></b></div>
            <a class="fp-submit" th:href="@{'/new-user/'}">Buy Tickets</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</section>

</body>
</html>








