
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/BioTrio.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>


<div class="container">
    <h1>Register new user</h1>
    <h2>Please fill in this form to create an account.</h2>
    <p class="lead">


        <form th:action="@{/registration}" method="post" th:object="${userForm}">
            <div class="form-group">
                <label for="username"> <b>Username</b></label>
                <input type="text" class="form-control" name="Username" placeholder="Enter Username" required
                       id="username" >

                <label for="password"><b>Password</b></label>
                <input class="form-control" name="password" placeholder="Enter Password"
                       required  type="password" id="password">

                <label for="passwordConfirm"><b>Repeat Password</b></label>
                <input class="form-control" name="passwordConfirm" placeholder="Repeat Password"
                       required type="password" id="passwordConfirm">

                <label for="name"><b>Full name</b></label>
                <input class="form-control" name="Name and Surname" placeholder="Name and Surname" required
                       th:field="${userForm.name}" type="text" id="name">

                <label for="dob"><b>Date of birth</b></label>
                <input class="form-control" name="dob" placeholder="dd/mm/yyyy" required th:field="${userForm.dob}"
                       type="text" id="dob"  maxlength="10">

                <label for="email"><b>Email address</b></label>
                <input type="text" class="form-control" th:field="${userForm.email}" placeholder="Enter Email" name="email" required id="email">

                <label for="phone number"><b>Phone number</b></label>
                <input class="form-control" name="phone number" placeholder="Enter phone number"
                       required th:field="${userForm.phoneNumber}" type="text" id="phone number">

                <label for="payment details"><b>Payment details</b><br></label>
                <input class="form-control" name="Card number" placeholder="card number" required
                       th:field="${userForm.paymentDetails}" type="text" id="payment details">
                <!-- <input class="form-control" name="month" placeholder="mm" required
                           th:field="${customerform.paymentDetails}" type="expiration" id="payment details">
                    <span>/</span>
                    <input class="form-control" name="year" placeholder="yy" required
                           th:field="${customerform.paymentDetails}" type="expiration" id="payment details">
                    <input type="security" th:field="${customerform.paymentDetails}" placeholder="Security code" name="payment" required id="payment details"> -->
            </div>


    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="submit">Register</button>

    </form>
    </p>
</div>


<div class="container signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>