<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">BioTrio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/mymovie">Movies <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
      BioTrio online movie tickets
    </span>
    </div>
</nav>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Update Movie</h1>
        <p class="lead">

        <form action="/saveupdate" method="post" th:object="${movieform}">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="movieTitle">Title</label>
                <input type="text" class="form-control" th:field="${movieform.movieTitle}" id="movieTitle"
                       th:placeholder="${movieform.getMovieTitle()}"
                       maxlength="20">
            </div>
            <div class="form-group">
                <label for="movieGenre">Genre</label>
                <input type="text" class="form-control" th:field="${movieform.movieGenre}" id="movieGenre"
                       th:placeholder="${movieform.getMovieGenre()}">
            </div>
            <div class="form-group">
                <label for="movieYear">Year</label>
                <input type="text" class="form-control" th:field="${movieform.movieYear}" id="movieYear"
                       th:placeholder="${movieform.getMovieYear()}">
            </div>
            <div class="form-group">
                <label for="movieOrigin">Origin</label>
                <input type="number" class="form-control" th:field="${movieform.movieOrigin}" id="movieOrigin"
                       th:placeholder="${movieform.getMovieOrigin()}" min="0">
            </div>
            <div class="form-group">
                <label for="movieDuration">Duration</label>
                <input type="number" class="form-control" th:field="${movieform.movieDuration}" id="movieDuration"
                       th:placeholder="${movieform.getMovieDuration()}" min="0">
            </div>
            <div class="form-group">
                <label for="movieDirector">Director</label>
                <input type="text" class="form-control" th:field="${movieform.movieDirector}" id="movieDirector"
                       th:placeholder="${movieform.getMovieDirector()}" min="0">
            </div>
            <div class="form-group">
                <label for="movieActors">Actors</label>
                <input type="text" class="form-control" th:field="${movieform.movieActors}" id="movieActors"
                       th:placeholder="${movieform.getMovieActors()}" min="0">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" th:field="${movieform.price}" id="price"
                       th:placeholder="${movieform.getPrice()}" min="0">
            </div>
            <div class="form-group">
                <label for="imdbCode">imdbCode</label>
                <input type="text" class="form-control" th:field="${movieform.imdbCode}" id="imdbCode"
                       th:placeholder="${movieform.getImdbCode()}" min="0">
            </div>
            <button type="submit" class="btn btn-primary">Update Movie</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>

        </p>
    </div>
</div>
