<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>

    <link rel="stylesheet" type="text/css" href="/BioTrio.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>

<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="/mymovie">Movies </a></li>
    <li><a href="/customers-info">Customers</a></li>
    <li><a href="/theater-info">Theaters</a></li>
</ul>

    <div class="container">
        <h1> Update Movie</h1>
        <p class="lead">

        <form action="/saveupdate" method="post" th:object="${movieform}">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" th:field="*{movieId}"/>

                <label for="movieTitle"><b>Title</b></label>
                <input type="text" class="form-control" th:field="${movieform.movieTitle}" id="movieTitle"
                       th:placeholder="${movieform.getMovieTitle()}"
                       maxlength="20">
                <label for="movieGenre"><b>Genre</b></label>
                <input type="text" class="form-control" th:field="${movieform.movieGenre}" id="movieGenre"
                       th:placeholder="${movieform.getMovieGenre()}">
                <label for="movieYear"><b>Year</b></label>
                <input type="text" class="form-control" th:field="${movieform.movieYear}" id="movieYear"
                       th:placeholder="${movieform.getMovieYear()}">
                <label for="movieOrigin"><b>Origin</b></label>
                <input type="text" class="form-control" th:field="${movieform.movieOrigin}" id="movieOrigin"
                       th:placeholder="${movieform.getMovieOrigin()}" min="0">
                <label for="movieDuration"><b>Duration</b></label>
                <input type="text" class="form-control" th:field="${movieform.movieDuration}" id="movieDuration"
                       th:placeholder="${movieform.getMovieDuration()}" min="0">
                <label for="movieDirector"><b>Director</b></label>
                <input type="text" class="form-control" th:field="${movieform.movieDirector}" id="movieDirector"
                       th:placeholder="${movieform.getMovieDirector()}" min="0">
                <label for="movieActor"><b>Actors</b></label>
                <input type="text" class="form-control" th:field="${movieform.movieActor}" id="movieActor"
                       th:placeholder="${movieform.getMovieActor()}" min="0">
                <label for="imdbCode"><b>IMDb Code</b></label>
                <input type="text" class="form-control" th:field="${movieform.imdbCode}" id="imdbCode"
                       th:placeholder="${movieform.getImdbCode()}" min="0">
            </div>
            <button class="submit">Update Movie</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>
